<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <title>Dashboard - Castelo da Abby</title>

    <link rel="stylesheet" href="../dashboard.css">

    <script src="../dashboard.js" defer></script>
</head>
<body>
    <div class="container">
        <form class="status" name="status" method="POST">
            <h1>Atributos</h1>
            <h3>Total: <%= attrsTotal %></h3>
            <% if (attrs) { %>
                <% attrs.map(data => { %>
                    <%- include('components/status', data); %>
                <% }) %>
            <% } %>
            <button type="submit" id="saveButton">Salvar</button>
        </form>
    </div>

    <div class="header-container">
        <div class="avatar">
            <img src="<%= avatar %>" alt="<%= name %>" class="avatarIcon">
            <h1 class="avatarName"><%= name %></h1>
            <script>
                window.onload = () => {
                    const container = document.querySelector('.avatar');
                    const name = document.querySelector('.avatarName');


                    container.onmouseenter = () => {
                        name.classList.add('hover');
                    }
                    container.onmouseleave = () => {
                        name.classList.remove('hover');
                    }
                }
            </script>
        </div>
    </div>

</body>
</html>